name: Build and deploy
on: push

jobs:
  build-push:
    name: Build and push image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout alerterator
        uses: actions/checkout@v2
      - run: docker build -t ghcr.io/"$GITHUB_REPOSITORY":$(./version.sh) .
      - uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: docker push ghcr.io/"$GITHUB_REPOSITORY":$(./version.sh)

  nais-yaml:
    name: Release to nais-yaml
    runs-on: ubuntu-latest
    needs: build-push
    steps:
      - name: Checkout alerterator
        uses: actions/checkout@v2
        with:
          path: alerterator
      - name: Checkout nais-yaml
        uses: actions/checkout@v2
        with:
          repository: navikt/nais-yaml
          token: ${{ secrets.NAIS_YAML_TOKEN }}
          path: nais-yaml
      - name: Update nais-yaml
        run: |
          cd alerterator
          version=$(./version.sh)
          
          cat config/deploy/resources.yaml > ../nais-yaml/templates/zz-generated-alerterator.yaml
          cat config/deploy/deployment.yaml > ../nais-yaml/templates/alerterator.yaml

          cd ../nais-yaml
          git config user.name alerterator-actions
          git config user.email alerterator-actions@github.com

          sed -E -i "s#image: ghcr.io/"$GITHUB_REPOSITORY":.+#image: ghcr.io/"$GITHUB_REPOSITORY":${version}#" vars/alerterator.yaml
          git add .
          git --no-pager diff --cached
          git commit -a -m "Bump Alerterator to version ${version}"
          git push
